<h1><%= @question.title %></h1>

<p><%= @question.description %></p>
<%= link_to 'Edit Question', edit_question_path(@question) %><br>
<%= link_to 'Delete Question', question_path(@question), method: :delete %>

<h2>Answers</h2>
  <ul>
    <% @question.answers.each do |answer| %>
      <li><%= answer.description %></li>
    <% end %>
  </ul>

<h2>Add an Answer:</h2>
<%= form_for([@question, @question.answers.build]) do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Back to Questions", questions_path %>
