<h1><%= @question.title %></h1>

<p id="question_description"><%= use_markdown(@question.description) %></p>
<%= link_to 'Edit Question', edit_question_path(@question) %><br>
<%= link_to 'Delete Question', question_path(@question), method: :delete %>

<h2>Answers</h2>

<%= render file: "../views/answers/_answer.html.erb"%>

<h2>Add an Answer:</h2>
<%= render 'answers/form'%>

<%= link_to "Back to Questions", questions_path %>
